body{
    background: #110101 url("../images/bg.jpg") top center no-repeat;
}
a{
    font-family: "宋体";
}
a:hover{
    text-decoration: underline;
}
.nav{
    width: 1117px;
    height: 250px;
    margin: 140px auto 0 auto;
    background: url("../images/nav_bg.png") no-repeat;
    position: relative;
}
.nav a{
    font-size: 18px;
    font-weight: bold;
    color: #cf9f73;
    text-shadow: 1px 3px 1px #2d0f02;
}
.nav a:hover{
    color: #ffc893;
    text-decoration: none;
    /*font-weight: bold;*/
}
.nav .box_ul{
    position: absolute;
    left: 112px;
    bottom: 64px;
}
.nav ul li{
    float: left;
}
.nav .ul1 li{
    margin-right: 25px;
}
.nav .ul2{
    margin-left: 550px;
}
.nav .ul2 li{
    margin-right: 50px;
}
/*nav 结束*/

.main{
    width: 1000px;
    height: 1200px;
    margin: -18px auto 0 auto;
    padding-bottom: 30px;
    position: relative;
}

.main .main_left{
    width: 237px;
    margin-left: -5px;
    /*height: 1060px;*/
    background-color: #6d0003;
    float: left;
}
.main_left .startGame{
    width: 237px;
    height: 276px;
    font-family: "宋体";
    background: url("../images/startGame_bg.jpg") no-repeat;
}
.startGame img{
    margin: 3px 3px;
}
.startGame label{
    font-size: 16px;
    color: #e0ae56;
    margin-left: 10px;
}
.startGame .useName , .startGame .passWord{
    display: inline-block;
    width: 132px;
    height: 22px;
    background-color: #361e03;
    border: 1px solid #8d592f;
    box-shadow: 2px 2px 2px #251502 inset;
    margin-top: 11px;
    padding: 0 5px;
    color: #cccccc;
}
.startGame .login{
    margin-top: 20px;
    margin-left: 30px;
}
.login input{
    display: inline-block;
    width: 107px;
    height: 35px;
    background: url("../images/submit.png") no-repeat;
    border: none;
    cursor: pointer;
}
.login a{
    margin-left: 12px;
    font-size: 14px;
    color: #eda800;
}
.startGame .startGame_link{
    margin-top: 11px;
    margin-left: 18px;
}
.startGame_link a{
    display: inline-block;
    width: 77px;
    height: 23px;
    font-size: 16px;
    line-height: 23px;
    color: #ffcc00;
    text-align: center;
    border-radius: 3px;
    background-color: #3f2001;
    border: 1px solid #5b401c;
    margin-left: 12px;
}
.startGame_link a:hover{
    text-decoration: none;
}

.main_left .linkImages{
    margin-top: -1px;
}
.linkImages img.last{
    margin-top: -4px;
}

.main_left .serverList{
    /*width: 207px;*/
    height: 235px;
    margin-top: -3px;
    padding: 30px 25px 0 25px;
    background: url("../images/serverList_bg.jpg") no-repeat;
}
.serverList li{
    font-family: "黑体";
    font-size: 14px;
    color: #ffcc00;
    margin: 12px 0 0 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dashed #6a3906;
}
.serverList li.one{
    background: url("../images/one_bg.png") no-repeat;
}
.serverList li.two{
    background: url("../images/two_bg.png") no-repeat;
}
.serverList li.three{
    background: url("../images/three_bg.png") no-repeat;
}
.serverList a{
    font-size: 12px;
    color: #d6af3a;
    margin: 0 34px 0 0;
    display: inline-block;
    text-indent: 30px;
}
.serverList a:hover{
    text-decoration: underline;
}
.serverList button , .callCenter button{
    width: 116px;
    height: 27px;
    border-radius: 4px;
    border: 1px solid #8b4804;
    background-color: #6a3906;
    box-shadow: 0 0 2px #472504 inset;
    font: 14px "黑体";
    color: #fed101;
    cursor: pointer;
}
.serverList button{
    margin: 10px 34px;
}

.main_left .gameIntroduce{
    width: 237px;
    height: 270px;
    background: url("../images/gameIntroduce.png") no-repeat;
}

.main_left .callCenter{
    width: 227px;
    height: 111px;
    background: url("../images/callCenter.png") no-repeat;
    padding: 36px 0 0 10px;
}
.callCenter p{
    margin-top: 11px;
    font: 14px "宋体";
    color: #ffcc00;
}
.callCenter a{
    color: #ff0000;
    text-decoration: underline;
}
.callCenter button{
    margin: 14px 49px;
}
/*main-lift 结束*/

.main .main_right{
    width: 757px;
    /*height: 1060px;*/
    background-color: rgba(43,22,1,0.8);
    float: right;
}
.main_right .notice{
    width: 739px;
    height: 235px;
    margin: 5px auto 4px auto;
}
.notice .noticeBanner{
    float: left;
}
.notice .noticeNews{
    width: 424px;
    height: 233px;
    box-shadow: 0 0 1px #512002 inset;
    background-color: #2b1601;
    border: 1px solid #4f3318;
    float: right;
}
.noticeNews .buttonBox{
    border-top: 1px solid #b28850;
}
.noticeNews .buttonBox li{
    float: left;
}
.noticeNews .buttonBox button{
    width: 74px;
    height: 32px;
    background: url("../images/button_bg.png") no-repeat;
    border: none;
    font: 14px "微软雅黑";
    color: #fed101;
    cursor: pointer;
    position: relative;
}
.noticeNews .buttonBox button em{
    display: none;
    border: 6px solid transparent;
    border-top-color: #792d07;
    position: absolute;
    bottom: -11px;
    left: 31px;
}
.noticeNews .buttonBox button.active{
    background: url("../images/active.png") no-repeat;
}
.noticeNews .buttonBox button.active em{
    display: inline-block;
}

.noticeNews .buttonBox a{
    font: 13px "宋体";
    color: #fe6c01;
    display: inline-block;
    padding-top: 8px;
    text-indent: 46px;
    background: url("../images/a_bg.png") no-repeat;
    width: 127px;
    height: 32px;
}

.noticeNews .mainBox{
    clear: both;
}
.mainBox ul{
    margin: 28px 0 0 18px;
    padding: 2px 28px 0 0;
}
.mainBox li{
    margin-top: 9px;
    font: 12px "宋体";
    color: #ffae00;
    padding-left: 4px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #7f2d00;
}
.mainBox li a{
    font-size: 12px;
    color: #ffae00;
    margin-right: 152px;
}


.main_right .bannerBox{
    clear: both;
    width: 100%;
    height: 89px;
    margin-bottom: 4px;
    /*margin: 5px 0;*/
}
.bannerBox img{
    float: left;
    margin-left: 9px;
}

.main_right .rightGame{
    width: 739px;
    height: 274px;
    margin: 0 auto;
    /*background-color: #989898;*/
}
.rightGame .data{
    width: 333px;
    height: 274px;
    background: url("../images/data_bg.png") no-repeat;
    float: left;
    padding: 0 20px 0 12px;
}
.data h1 , .strategy h1{
    font: 14px "微软雅黑";
    color: #ffd800;
    line-height: 28px;
}
.data h1{
    text-indent: 50px;
}
.strategy h1{
    text-indent: 60px;
}
.data h1 a , .strategy h1 a{
    font: 12px "宋体";
    color: #ff4800;
    margin-left: 188px;
}

.data .dateBox{
    margin-top: 22px;
}
.data .dateBox div{
    border-bottom: 1px dashed #7f2d00;
    padding: 4px 0 3px 0;
    position: relative;
}
.data .dateBox h2{
    display: inline-block;
    font: bold 13px "微软雅黑";
    color: #ff4e00;
    position: absolute;
    top: 15px;
    left: 5px;
}
.data .dateBox p{
    display: inline-block;
    margin-left: 73px;
}
.dateBox p a{
    font: 12px/21px "宋体";
    color: #ffae00;
}
.dateBox p a:hover{
    text-decoration: underline;
}
.dateBox p span{
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #ffae00;
    margin: 0 8px;
    vertical-align: -1px;
}

.rightGame .strategy{
    width: 365px;
    height: 274px;
    background: url("../images/strategy_bg.png") no-repeat;
    float: right;
}
.strategy ul{
    margin: 28px 0 0 14px;
    padding-right: 20px;
}
.strategy li{
    margin-top: 13px;
    font: 12px "宋体";
    color: #ffae00;
    padding-bottom: 6px;
    border-bottom: 1px dashed #7f2d00;
}
.strategy li a{
    font-size: 12px;
    color: #ffae00;
    margin-right: 113px;
}

.main_right .printscreen{
    width: 739px;
    height: 160px;
    margin: 20px auto 0 auto;
    background: url("../images/printscreen_bg.png") no-repeat;
    position: relative;
}
.printscreen h1 a , .cooperation h1 a{
    position: absolute;
    right: 24px;
    top: 14px;
    font: 12px "宋体";
    color: #ff4800;
}
.printscreen div img{
    margin: 45px 7px 0 10px;
}

.main_right .cooperation{
    width: 729px;
    height: 194px;
    margin: 14px auto 0 auto;
    padding: 60px 0 0 10px;
    background: url("../images/cooperation_bg.png") no-repeat;
    position: relative;
}
.cooperation div , .cooperation ul{
    display: inline-block;
}
.cooperation .cooperationBox .banner1{
    display: inline-block;
    width: 120px;
    height: 165px;
}
.cooperation .cooperationBox div{
    width: 205px;
    height: 164px;
    margin-left: 8px;
}
.cooperation ul{
    /*margin: 0 0 0 30px;*/
    position: absolute;
    top: 52px;
    right: 16px;
}
.cooperation li{
    margin-top: 8px;
    font: 12px "宋体";
    color: #ffae00;
    padding: 0 8px 6px 0;
    border-bottom: 1px dashed #7f2d00;
}
.cooperation li a{
    font-size: 12px;
    color: #ffae00;
    margin-right: 132px;
}

footer{
    width: 1005px;
    height: 134px;
    margin-left: -6px;
    background: url(../images/footer_bg.png) no-repeat;
    position: absolute;
    bottom: 30px;
}
footer div{
    /*margin-top: 30px;*/
    padding: 54px 30px 0 18px;
}
footer a{
    font: 12px "黑体";
    color: #ff4800;
    line-height: 30px;
    margin-right: 8px;
}










