header{width: 1000px;margin: 0 auto;}
header .header_top{margin: 30px auto;}
header .header_top .logo{float: left;}
header .header_top ul{float: right;}
header .header_top ul li{margin-bottom: 12px;padding-left: 38px;}
header .header_top ul li.b1{background: url("../images/phone.jpg") no-repeat left center;}
header .header_top ul li.b2{background: url("../images/qq.png") no-repeat left center;}

header nav{width: 100%;clear: both;}
header nav ul li{float: left;font-size: 14px;line-height: 35px;}
header nav ul li a{display: block;border-top: 3px solid #fafafa;margin:10px 30px 0 10px;padding: 0 23px;}
header nav ul li a:hover{border-top: 3px solid #cd0210;}
header nav ul li a:active{border-top:3px solid #cd0210;}

.banner{width: 100%;height: 402px;background: url("../images/banner.jpg") no-repeat center #cd0210;
    min-width: 100px;clear: both;}
.banner a{display:block;width:100%;height:100%;}

.main{width: 1000px;height:660px;
    margin:0 auto;
    border-bottom:1px solid #ebebeb;}
.main .left{float:left;width:590px;}
.main .left .left_top,.left_bottom{width:100%;height:295px; margin-bottom: 10px;}
.main .left .left_top{padding-bottom:26px;border-bottom:1px solid #ebebeb;}
/*title*/
.main .left .title{border-bottom:2px solid #ebebeb;padding:30px 0 20px 15px;
    position:relative;}
.main .left .title h1{font-size:26px;color:#333;font-weight:normal;}
.main .left .title a{position:absolute;top:40px;left:525px;
    font-size:17px;color:#cecece;}
.main .left .title a:hover{position:absolute;top:40px;left:525px;
    font-size:17px;color:#cd0210;}
.main .left .title em{position:absolute;left:0;
    width:135px;height:4px;bottom:-1px;
    background-color:#cd0210;}
/*content*/
.main .left .content{margin:22px 0 0 276px;padding-right: 10px;}
.main .left .content img{float: left; margin-left:-276px;}
.main .left .content .txt{margin-top:20px;}
/*look*/
.main .left .look{float:right;position:relative;
    width:131px;height:33px;border-radius: 100px;
    margin-top:-5px;border:1px solid #ff0000;}
.main .left .look .button{background:url("../images/button.png") no-repeat center;
    width:20px;height:20px;
    position: absolute;top:8px;left:100px;}
.main .left .look a{font-size:14px;color: #cd0210;
    display: block; padding:6px 0 6px 24px;}
.main .left .look a:hover{color: #ff6609;}
/*main right*/
.main .right{float: right;width:380px;height:620px;background-color:#f5f5f4;}
.main .right .news{padding: 40px 10px 0 10px;}
.main .right .news h1{font-size:17px; color:#cd0210;padding-bottom:10px;
    border-bottom:2px solid #ebebeb;}
.main .right .news ul{padding:18px 0 0 25px;}
.main .right .news ul li{height: 35px;line-height: 35px;padding-left: 15px;
    list-style-type: disc;color:#cd0210;}
.main .right .news ul li a{font-size:12px;color:#808080;}
.main .right .news ul li a:hover{color:#ff6609;}
.main .right .news ul li span{font-size:10px;color:#b2b2b2;padding-left:125px;}
.main .right .news .img{padding-top:30px;  max-width: 364px;max-height: 166px;}

.link{clear: both; width: 1000px; margin:0 auto;}
.link ul{float: left; margin:50px 110px 30px 0;}
.link ul li{float: inherit; margin-right:20px;}

footer{clear: both; text-align: center;
    width: 100%; min-width: 1000px; padding: 30px 0;
    font-size: 14px; color: #fff; background: #cd0210;}
footer .p1{margin-bottom: 20px;}
footer a{color: #fff; margin:0 30px;}
footer a:hover{text-decoration: underline; color: #fff;}
footer span{display: inline-block; background: #fff;
    width: 1px; height: 12px; vertical-align: -1px;}