#header .w{
    position: relative;
    width: 140px;
    z-index: 11;
    width: 1190px;
    margin: 0 auto;
}
#logo{
    width: 190px;
    height: 171px;
    position: absolute;
    left: 0;
    top: -31px;
    z-index: 2;
    -moz-box-shadow:0 -12px 10px rgba(0,0,0,.2);
    box-shadow:0 -12px 10px rgba(0,0,0,.2);
    background: #fff url("../picture/shortcut/logo.png") no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.search_m{
    position: relative;
    height: 60px;
    z-index: 1;
}
.search_m .search_logo{
    display: none;
}
.search_m .form{
    position: absolute;
    top: 25px;
    left: 320px;
    width: 550px;
    height: 35px;
}
.search_m .form .text,.search_m .form .button{
    position: absolute;
    top: 0;
    outline: none;
}
.search_m .form .text{
    left: 0;
    width: 490px;
    height: 25px;
    padding: 4px;
    border: 1px solid #f10215;
    font-size: 14px;
    line-height: 25px;
    color: #989898;
}
.search_m .form .button{
    right: 0;
    width: 50px;
    height: 35px;
    border: none;
    background-color: #f10215;
    font-size: 20px;
    font-weight: bold;
    line-height: 0;
    color: #fff;
    cursor: pointer;
}

#settleup{
    position: absolute;
    top: 25px;
    right: 0;
}
#settleup .cw_icon{
    width: 188px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
}
#settleup .cw_icon i{
    font-style: normal;
}
#settleup .cw_icon .iconfont{
    margin-right: 3px;
    font-size: 16px;
    color: #f10214;
}
#settleup .cw_icon a{
    color: #f10214;
}
#settleup .cw_icon .ci_count{
    position: absolute;
    top: 5px;
    left: 140px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    background-color: #f10214;
    padding: 1px;
    border-radius: 7px;
    -moz-border-radius: 7px;
    min-width: 12px;
    text-align: center;
}
#settleup .dropdown_layer{
    width: 308px;
    top: 35px;
    right: 0;
}
#settleup .dropdown_layer .prompt{
    padding: 10px 15px;
}
#settleup .dropdown_layer .nogoods{
    height: 49px;
    line-height: 49px;
    padding-left: 30px;
    color: #999;
    overflow: hidden;
}
#settleup .dropdown_layer b{
    width: 56px;
    height: 49px;
    float: left;
    background: url("../picture/shortcut/nocart.png") no-repeat;
}
#settleup:hover .cw_icon{
    padding-bottom:2px;
    border-color:#ccc;/**/
    border-bottom:none;
    background-color:#fff;
}
#settleup:hover .dropdown_layer{
    display: block;
}

#hotwords{
    position: absolute;
    top: 65px;
    left: 320px;
    width: 550px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
#hotwords a{
    margin-right: 10px;
    color: #999;
    white-space:nowrap;
    float: left;
}
#hotwords a:hover{
    color: #c81623;
}
#hotwords a.red{
    color: #c81623;
}

#navitems{
    position: absolute;
    top: 100px;
    left: 200px;
    width: 790px;
    height: 40px;
    overflow: hidden;
}
#navitems ul,#navitems li,#navitems .spacer{
    float: left;
}
#navitems li{
    margin-left: 30px;
}
#navitems a{
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
}
#navitems a:hover{
    color: #c81623;
}
#navitems .spacer{
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 15px -10px 0 20px;
    overflow: hidden;
}

 /*以上 header ,以下 fs */
.fs{
    position: relative;
    top: 80px;
    width: 100%;
    z-index: 9;
    background: #f6f6f6;
}
.fs a{
    font-family: "微软雅黑";
}
.fs a:hover{
    color:#c81623;
}
.fs .fs_inner{
    width: 1190px;
    height: 480px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.fs .fs_col1{
    width: 190px;
    height: 100%;
    margin-right: 10px;
    float: left;
    position: relative;
}
.fs .cate_menu{
    color: #fff;
    height: 450px;
    background-color: #6c6669;
    padding: 15px 0px;
    overflow: hidden;
}
.fs .cate_menu_item{
    height: 30px;
    line-height: 30px;
    padding-left: 12px;
}
.fs .cate_menu_item span{
    padding: 0 4px;
}
.cate_menu_item a{
    font-size: 14px;
    color: #fff;
}
.cate_menu_item img{
    display: none;
    position: absolute;
    top: 0;
    left: 190px;
    z-index: 100;
    box-shadow: 4px 0px 5px #A59292;
}
.fs .cate_menu li:hover{
    background-color:#BCB7B7;
}
.fs .cate_menu li:hover img{
    display: block;
}

/*以下 轮播广告*/
.fs .fs_col2{
    width: 790px;
    height: 100%;
    float: left;
    position: relative;
    z-index: -1;
}
.fs_col2 .slider_main{
    width: 790px;
    height: 340px;
    position: relative;
    margin-bottom: 10px;
    cursor: pointer;
}
.slider_main ul li{
    width: 790px;
    height: 340px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.fs_col2 .slider_extend{
    height: 130px;
    margin-left: -10px;
}
.slider_bi{
    /*width: 390px;*/
    /*height: 130px;*/
    cursor: pointer;
    margin-left: 10px;
    float: left;
    overflow: hidden;
}

.fs_col2 .dian{
    width: 180px;
    height: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 12px;
    position: absolute;
    bottom: 16px;
    left: 300px;
    z-index: 1;
}
.fs_col2 .dian div{
    width: 176px;
    margin: 2px auto;
}
.fs_col2 .dian span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: #fff;
    margin: 0 5px;
}
.fs_col2 .dian span.red{
    background-color: #c81623;
}

/*以下 fs 最右侧*/
.fs_col3{
    float:right;
    margin-left:10px;
    width:190px;
    height:100%;
    background-color:#fff;
    position: relative;
    overflow: hidden;
}
.user{
    padding:0 10px;
    height:115px;
    border-bottom:1px solid #e6e6e6;
}
.user_info{
    overflow:hidden;
    position:relative;
    padding:15px 0 15px 60px;
    height:45px;
}
.user_info_avatar{
    overflow:hidden;
    position:absolute;
    margin-left:-60px;
    width:45px;
    height:45px;
}
.user_info_avatar img{
    display:block;
    height:100%;
    -moz-border-radius:23px;
    border-radius:23px;
}
.user_info_show p{
    overflow:hidden;
    margin-top:2px;
    width:100%;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.user_info_show a{
    margin-right:5px;
    color:#000;
}
.user_info_show a:hover{
    color:#c81623;
}
.user_profit{
    overflow:hidden;
    height:24px;
    font-size:0;
}
.user_profit a{
    display:inline-block;
    margin-right:10px;
    width:70px;
    height:20px;
    border:2px solid #e01222;
    line-height:20px;
    font-size:12px;
    text-align:center;
    color:#e01222;
}
.user_profit a:hover{
    background-color:#e01222;
    color:#fff;
}
.fs_col3 .a66{
    position: absolute;
    bottom: -7px;
    left: 0;
}

.jdbody ul{
    width: 1190px;
    margin: 0 auto;
    padding-top: 90px;
}
.jdbody .footer{
    background-color: #eaeaea;
}
.jdbody .footer div{
    width: 1190px;
    margin: 0 auto;
}














