header{width: 100%; min-width: 980px; height: 86px;
    background: #cc0000;}
header .con{margin: 0 auto; width: 980px;}
header .logo{display: block; float: left; margin-top: 31px;}
/*nav 开始*/
header .nav{float: right;}
header .nav p{  margin-top: 10px;
                font-size: 14px;
                text-align: right;}
header .nav p span{ display: inline-block;
                    background: #fff;
                    width: 1px; height: 12px;
                    margin: 0 10px;
                    vertical-align: -2px;}
header .nav p a:hover{text-decoration: underline;}
header .nav p a em{ background: url("../images/icon.png") no-repeat;
                    width: 17px; height: 17px; display: inline-block;
                    margin-right: 5px; vertical-align: -3px;}
/*分割线*/
header .nav ul{ float: right;
                margin: 15px 0 5px 0;}
header .nav ul li{  float: left;
                    margin-left: 40px;
                    font-size: 17px; line-height: 17px;}
header .nav ul li a{display: block;
                    border-bottom: 1px solid #cc0000;
                    line-height: 30px; font-weight: bold;}
header .nav ul li a:hover{border-bottom: 1px solid #ffffff;}
/*header*/
.main{  margin: 104px auto;
        width: 980px; height: 469px;
        position: relative;}
.main .pic{ position: absolute;
            left: 0; top: 47px;}
.main .pic img{ width: 980px; height: 358px;}
.main .login{   width: 390px;
                padding-left: 15px;
                position: absolute;
                top: 0; right: 20px;
                z-index: 10;
                background: url("../images/shadow_07.png") no-repeat left top;}
.main .login .aside{    padding: 20px 50px;
                        height: 410px;
                        background: #fff;}
.main .login .aside h2{ font-size: 20px;
                        font-weight: normal;
                        margin-bottom: 23px;}
.main .login .aside .txt{   width: 270px; heigth: 27px;
                            border: 1px solid #dadada;
                            background: url("../images/txt_bg.jpg") no-repeat left top;
                            padding: 5px 9px;
                            margin-bottom: 18px;
                            line-height: 27px;
                            font-size: 14px;
                            border-radius: 2px;}
.main .login .aside td{ color: #000;}
.main .login .aside label input{  margin: 0 5px 0 0;}
.main .login .aside a{  color: #000;
                        margin-left: 8px;}
.main .login .aside a:hover{text-decoration: underline;}
.main .login .aside .btn{   width: 121px; height: 35px;
                            line-height: 27px;
                            font-size: 16px;
                            color: #fff;
                            border-radius: 2px;
                            border: 1px solid #ac0000;
                            margin: 14px 0 15px 0;
                            background: url("../images/btn_bg.jpg") no-repeat;
                            cursor: pointer;}
.main .login .aside a em{   background: url("../images/icon.png") no-repeat;
                            display: inline-block;
                            margin-right: 3px;
                            vertical-align: -3px;}
.main .login .aside a em.qq{width: 14px; height: 16px;
                            background-position: -26px 0;  }
.main .login .aside a em.sina{  width: 16px; height: 13px;
                                background-position: -51px 0;}
.main .login .aside a em.people{width: 16px; height: 16px;
                                background-position: -73px 0;}
.main .login .aside a.register{ margin: 15px 0 0 0;
                                width: 287px; height: 37px;
                                display: inline-block;
                                background: url("../images/register.jpg") no-repeat;
                                border: 1px solid #bdb091;
                                border-radius: 2px;}

.footer{    width: 100%; min-width: 980px;
            background: #fff;
            text-align: center;
            padding: 10px 0 20px 0;}
.footer span{    margin: 0 10px;}































