html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,section, article, aside, header, footer, nav, dialog, figure,menu,hgroup,iframe{ margin:0; padding:0; border:0; -webkit-font-smoothing:antialiased;  }
html{ -webkit-text-size-adjust:none;}
body{ font-family:"Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif; font-size:12px; line-height:24px; background:#0d0622;  -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased;  font-smoothing: antialiased;  color:#333; }
input,textarea{ resize:none; font-family:"Microsoft YaHei"; background: #fff; border: 0; /*-webkit-appearance: none;*/}
img{ border:none; vertical-align:middle; -ms-interpolation-mode: bicubic; max-width:100%;}
ul,li{ list-style:none;}
a{ text-decoration:none; color:#fff; outline:none; }
a:hover{ color:#fff;}
input:focus,textarea:focus{ outline:none; }

/*.or{ overflow:hidden;}*/
/*.fl{ float:left;}*/
/*.fr{ float:right;}*/

/*.header{ width:1000px; margin:0 auto; overflow:hidden; }*/
/*.header .top { margin:30px auto;}*/
/*.header .top ul{ float:right;}*/
/*.header .top ul li{ margin-bottom:12px;}*/
/*.header .top ul li em{ background:url(../images/icon.png) no-repeat; width:26px; height:26px; display:inline-block; margin-right:5px; vertical-align:-7px;}*/
/*.header .top ul li em.b1{ background-position:-26px 0; vertical-align:-8px;}*/
/*.header .top ul li em.b2{ background-position:0 0;}*/
 /**/

/*.menu{ width:100%; clear:both; }*/
/*.menu li{ float:left; font-size:14px; line-height:35px;}*/
/*.menu li a{ display:block; border-top:2px solid #fafafa; padding:0 23px; margin:0 30px 0 10px;}*/
/*.menu li a:hover{ border-top:2px solid #cd0210;}*/
/*.menu li.active a{ border-top:2px solid #cd0210;}*/
